/* All css till websida ska ligga här */

.wrapper {
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: rgb(255, 230, 179);
}

nav li{
	float: left;
}

nav.LoggedIn li{
	padding-left: 20vw;
	
}

nav.NotLoggedIn li{
	padding-left: 70vw;
}

nav.RegisterOrLogin li{
	padding-left: 50vw;
}

footer {
	
}