/* All css till websida ska ligga här */
.wrapper {
	padding-left: 5vw;
	padding-right: 5vw;
	height: 95vh;
	background-color: rgb(255, 230, 179);
}
nav{
	height: 5vh;
}
nav li{
	float: left;
	list-style-type: none;
	margin-left: 20vw;
	border: solid black 2px;
}
nav li a{
	text-decoration: none;
}
nav.NotLoggedIn li{
	margin-left: 30vw;
}

.write form{
	padding-left: 15vw;
}
main {
	width: 90vw;
}
article{
	border: solid black 1px;
	background-color: rgb(255,255,255);
	padding: 0.5vh;
	margin-bottom: 1vh;
	overflow:hidden
}

article p:nth-of-type(2) {
	float: right;
	margin: 0;
}

footer {
	position: absolute;
	bottom: 5vh;
}