/* All css till websida ska ligga här */
.wrapper {
	margin-left: 1vw;
	margin-right: 1vw;
	background-color: rgb(255, 230, 179);
}
nav{
	height: 5vh;
}
nav li{
	float: left;
	list-style-type: none;
	margin-left: 20vw;
	border: solid black 2px;
}
nav.NotLoggedIn li{
	margin-left: 30vw;
}
nav.LogOrReg li{
	margin-left: 45vw;
}
nav li a{
	text-decoration: none;
}
.write{
	padding-left: 15vw;
}
main {
	width: 90vw;
}
article{
	border: solid black 1px;
	background-color: rgb(255,255,255);
	padding: 0.5vh;
	margin-bottom: 1vh;
	margin-left: 20vw;
	width: 50vw;
	overflow:hidden;
}
main.userPage p{
	margin-left: 40vw;
}
.userPage form {
	margin-bottom: 5vh;
	margin-left: 40vw;
}
form.ArticleToRemove input {
	margin-right: 45vw;
}
footer {
	margin-left: 1vw;
	bottom: 1vh;
}